<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>POST Form Submission</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action='/users' method='post'>
        {% csrf_token %}
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        Phone: <input type='text' name='phone'>
        <button type='submit'>Create User</button>
    </form>

    <script src="" async defer></script>
  </body>
</html>